<docytype html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Resources | ProgClubGSU</title>
            <link rel="stylesheet" href="../css/styles.css">
            <script src="https://cdn.tailwindcss.com"></script>
            <!-- <script src="./tailwind3.js"></script> -->
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap"
              rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        </head>
        <body>
            <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
                <div class="container flex flex-wrap items-center justify-between ">
                <a href="https://programmingclub-gsu.com" class="flex items-center">
                    <img src="../images/gsu_logo.png" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo" />
                    <span class="text-xl font-semibold whitespace-nowrap dark:text-white">ProgClubGSU</span>
                </a>
                <div class="flex md:order-2">
                  <a href="https://discord.com/invite/pxJAqXX"><button type="button" class="text-white bg-primary hover:bg-primary focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-primary dark:hover:text-primary dark:hover:bg-white dark:focus:ring-blue-800" href="https://discord.com/invite/pxJAqXX">Join Us</button></a>
                  <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
                      <span class="sr-only">Open main menu</span>
                      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                  </button>
                </div>
                <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
                  <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-9 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                      <a href="./home" class="block py-2 pl-3 pr-4 text-primary rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-primary dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-primary md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Home</a>
                    </li>
                    <li>
                      <a href="./ourteam" class="block py-2 pl-3 pr-4 text-primary rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-primary dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-primary md:dark:hover:bg-transparent dark:border-gray-700">Our Team</a>
                    </li>
                    <li>
                      <a href="./resources" class="block py-2 pl-3 pr-4 text-primary bg-primary rounded md:bg-transparent md:text-primary md:p-0 dark:text-white">Resources</a>
                    </li>
                    <!-- <li>
                      <a href="./events" class="block py-2 pl-3 pr-4 text-primary rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-primary dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-primary md:dark:hover:bg-transparent dark:border-gray-700">Events</a>
                    </li> -->
                  </ul>
                </div>
                </div>
                <script>
                    const collapse = document.getElementById('navbar-cta');
                    const toggle = document.querySelector('[data-collapse-toggle]');
                    toggle.addEventListener('click', () => {
                        collapse.classList.toggle('hidden');
                    });
                </script>
              </nav>




              <section id="sectionB" class="md:h-screen mobile:h-auto bg-gradient-to-r from-green-400 to-blue-500">
                <div id="content" class="flex relative md:ml-[300px] md:mt-0 md:h-auto mobile:h-auto">
                </div>


                <span class="absolute text-white text-2xl top-16 left-4 cursor-pointer" onclick="Openbar()">
                    <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
                  </span>
                  <div class="sidebar fixed top-0 bottom-0 lg:left-0 left-[-300px] duration-1000
                    p-2 w-[300px] overflow-y-auto text-center bg-gray-900 shadow h-screen">
                    <div class="text-gray-100 text-xl">
                      <div class="p-2.5 mt-1 flex items-center rounded-md ">
                        <i class=" px-2 py-1 bg-blue-600 rounded-md"><img src="../images/gsu_logo.png" class="h-8 w-8"></i>
                        <h1 class="text-[15px]  ml-3 text-xl text-gray-200 font-bold">Resources</h1>
                        <i class="bi bi-x ml-20 cursor-pointer lg:hidden" onclick="Openbar()"></i>
                      </div>
                      <hr class="my-2 text-gray-600">
                
                      <div>
                        <div class="p-2.5 mt-3 flex items-center rounded-md 
                        px-4 duration-300 cursor-pointer  bg-gray-700">
                          <i class="bi bi-search text-sm"></i>
                          <input class="text-[15px] ml-4 w-full bg-transparent focus:outline-none" placeholder="Search" />
                        </div>
                
                        <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-primary" onclick="Home()">
                          <i class="bi bi-house-door-fill"></i>
                          <span class="text-[15px] mt-1 font-MetropolisSemiBold ml-4 text-gray-200">Home</span>
                        </div>
                        <hr class="my-4 text-gray-600">


                        <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-primary">
                            <i class="bi bi-chat-left-text-fill"></i>
                            <div class="flex justify-between w-full items-center" onclick="dropDownSpring2023()">
                              <span class="text-[15px] font-MetropolisSemiBold ml-4 text-gray-200">Spring 2023</span>
                              <span class="text-sm rotate-0" id="arrowSpring2023">
                                <i class="bi bi-chevron-down"></i>
                              </span>
                            </div>
                          </div>
                          <div class=" leading-7 font-MetropolisSemiBold text-left text-sm font-thin mt-2 w-4/5 mx-auto hidden" id="submenuSpring2023">
                            <a href="/resources/hackjam-one"><div>
                              <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">HackJam 1: 1/27</h1>
                          </div>
                          </a>
                            <div onclick="DsaPrepSpring2023()">
                                <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">DSA: 1/20 - Arrays</h1>
                            </div>

                            
                          </div>


                        

                
                        <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-primary">
                          <i class="bi bi-chat-left-text-fill"></i>
                          <div class="flex justify-between w-full items-center" onclick="dropDownArchived()">
                            <span class="text-[15px] font-MetropolisSemiBold ml-4 text-gray-200">Archived</span>
                            <span class="text-sm rotate-0" id="arrow">
                              <i class="bi bi-chevron-down"></i>
                            </span>
                          </div>
                        </div>
                        <div class=" leading-7 font-MetropolisSemiBold text-left text-sm font-thin mt-2 w-4/5 mx-auto hidden" id="submenu">
                            <div onclick="archivedSpring2022()">
                                <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">Spring 2022 &amp; Earlier</h1>
                            </div>
                        </div>
                
                      </div>

                    </div>

                  </div>
                
                  <script>

                    function Home(){
                        // content div

                        document.getElementById('content').innerHTML = ``;
                        var content = document.getElementById('content');
                        document.getElementById("sectionB").className = "md:h-screen mobile:h-auto bg-gradient-to-r from-green-400 to-blue-500";

                        

                        content.innerHTML = `
                        <div class="flex flex-col">
                            <h1 class="text-6xl text-white font-bold mt-10 ml-10">Dive deep into the Programming Club World...</h1>
                            <!-- animate-bounce w-6 h-6 -->


                            <div class="md:flex md:flex-row mobile:flex mobile:flex-col mobile:space-y-2">
                                <div class="w-7/12">
                                <div>
                                    <div class="flex ml-10 mt-16">
                                    <i class="bi bi-arrow-down-circle-fill text-6xl text-white animate-bounce"></i>
                                    </div>
                                </div>

                                <div class="mt-8">
                                    <h1 class="text-2xl text-white font-bold mt-10 ml-10">New to coding?</h1>
                                    <p class="w-5/12 text-white font-MetropolisSemiBold text-lg ml-10 mt-2">No problem! We have countless lines of code, resources, and helpful videos to aid you in your programming journey! Take a browse through our docs!</p>
                                </div>
                                </div>

                            </div>
                            
                        </div>

                        `;

                    }

                    Home();

                    function DsaPrepSpring2023(){
                        // content div
                        document.getElementById('content').innerHTML = ``;
                        var content = document.getElementById('content');

                        {
                            // <h1 class="text-2xl text-white font-bold mt-10 ml-10">Resources</h1>
                            var h1 = document.createElement('h1');
                            h1.className = 'text-2xl text-white font-bold mt-10 ml-10';
                            h1.innerHTML = 'DSA Prep';
                            content.appendChild(h1);

                        }

                        document.getElementById("sectionB").className = "md:h-auto mobile:h-auto bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500";

                        content.innerHTML = `

                        
                        <div class="flex flex-col md:space-y-8">
                          <div class="flex flex-row">
                            <h1 class="text-4xl text-white font-bold mt-10 ml-10">Arrays</h1>
                                    <div>
                                        <div class="flex ml-10 mt-8">
                                        <i class="bi bi-arrow-down-circle-fill text-6xl text-white animate-bounce"></i>
                                        </div>
                                    </div>
                          </div>
                          

                          <div class="grid grid-cols-1 gap-4">

                          <div class="md:flex md:flex-row md:space-x-2 md:divide-x mobile:flex mobile:flex-col mobile:space-y-2">
                            <div class="md:ml-1 mobile:w-11/12">

                              <div class="mt-10">
                                <h1 class="text-2xl text-white font-bold mt-1 ml-10">What are Arrays in Java?</h1>
                                <p class="mobile:w-10/12 text-white font-MetropolisSemiBold text-lg ml-10 mt-2">Arrays are a data structure that stores a collection of elements of the same type. They are used to store multiple values in a single variable, instead of declaring separate variables for each value</p>
                              </div>
                            </div>

                            <div class="md:mt-8 md:mr-10 md:mt-10 bg-dark bg-opacity-50 rounded-2xl mobile:w-11/12 mobile:mt-10 p-3">
                              <div class="flex flex-col">

                                <div class="mt-10">
                                  <img src="https://media.geeksforgeeks.org/wp-content/uploads/Arrays1.png" class="w-11/12 mx-auto rounded-xl">
                                </div>
                              </div>
                            </div>

                            
                          </div>
                        
                          
                          <div class="h-auto md:w-full mt-16 md:ml-10 mobile:ml-3">
                            <h1 class="text-2xl text-white font-bold mt-1">* Referencing Arrays</h1>
                            <div class="flex flex-col md:space-y-2 mobile:space-y-1 md:w-8/12 mobile:w-11/12">
                              <div class="md:flex md:flex-row md:space-x-2 mobile:flex mobile:flex-col">

                              <div class="md:w-full">
                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">1. A particular value in an array is referenced using the array name followed by the index in brackets</p>
                              <p class="text-white bg-dark bg-opacity-50 rounded-md p-2 font-MetropolisSemiBold text-lg ml-5 mt-1">For example, so far to the right, we have a basic array of numbers, and their indexes. Let's say we wanted to access index 2(3rd element), we would do so by typing in the array name, followed by the index in brackets. So, in this case, we would type in <span class="text-pink-500 bg-dark bg-opacity-80">array[2]</span> and it would return <span class="text-pink-500 bg-dark bg-opacity-80">63</span> (3rd element in the array (0, 1, 2)).</p>
                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-5">2. That expression represents a place to store a single integer and can be used wherever an integer variable can be used.</p>
                              <div class="bg-dark bg-opacity-40 rounded-md p-2">
                                <p class="text-white font-bold text-xl ml-4 mt-3">Cool uses for arrays</p>
                                <hr class="my-4 text-gray-600">
                                <div class="md:flex md:flex-row md:space-x-8 md:ml-4 mobile:flex mobile:flex-col">
                                    <div class="md:ml-2">
                                    <h1 class="text-white font-MetropolisSemiBold text-md">Setting a value of a certain index in the array: </h1>
                                    </div>
                                    <div>
                                    <h1 class="text-white font-MetropolisSemiBold text-md text-pink-500 bg-dark bg-opacity-80">scores[2] = 89;</h1>
                                    <h1 class="text-white font-MetropolisSemiBold text-sm">Changes the third index from 63 to 89</h1>
                                    
                                    <h1 class="text-white font-MetropolisSemiBold text-md text-pink-500 bg-dark bg-opacity-80">System.out.println(scores[2]);</h1>
                                    <h1 class="text-white font-MetropolisSemiBold text-md text-pink-500 bg-dark bg-opacity-80">OUTPUT: 89</h1>
                                    </div>
                                </div>
                                <hr class="my-4 text-gray-600">
                                <div class="md:flex md:flex-row md:space-x-8 mt-4 md:ml-4 mobile:flex mobile:flex-col">
                                    <div class="md:ml-2">
                                    <h1 class="text-white font-MetropolisSemiBold text-md">Math Operators</h1>
                                    </div>
                                    <div class="">
                                    <h1 class="text-white md:ml-32 font-MetropolisSemiBold text-md text-pink-500 bg-dark bg-opacity-80">scores[1] = scores[2] + 5;</h1>
                                    <h1 class="text-white md:ml-32 font-MetropolisSemiBold text-sm">Can you guess what this does?</h1>
                                    </div>
                                </div>
                                
                                <hr class="my-4 text-gray-600">
                                <div class="md:flex md:flex-row md:space-x-8 md:w-fit mt-4 md:ml-4 mobile:flex mobile:flex-col">
                                    <div class="md:ml-2">
                                    <h1 class="text-white font-MetropolisSemiBold text-md">Calculating Mean! (Will look into loops later)</h1>
                                    </div>
                                    <div>
                                    <h1 class="text-white md:ml-32 font-MetropolisSemiBold text-md text-pink-500 bg-dark bg-opacity-80">int total = 0;</h1>
                                    <h1 class="text-white md:ml-32 font-MetropolisSemiBold text-md text-pink-500 bg-dark bg-opacity-80">for(int i = 0; i < array.length; i++) {</h1>
                                    <h1 class="text-white md:ml-32 font-MetropolisSemiBold text-md text-pink-500 bg-dark bg-opacity-80">total += array[i];</h1>
                                    <h1 class="text-white md:ml-32 font-MetropolisSemiBold text-md text-pink-500 bg-dark bg-opacity-80">}</h1>
                                    <h1 class="text-white md:ml-32 font-MetropolisSemiBold text-md text-pink-500 bg-dark bg-opacity-80">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                                    <h1 class="text-white md:ml-32 font-MetropolisSemiBold text-md text-pink-500 bg-dark bg-opacity-80">System.out.println("Mean Average: " + ((total) / array.length));</h1>

                                    </div>
                                </div>
                              </div>
                                </div>
                              </div>
                              

                              </div>
                              </div>

                              <h1 class="md:ml-10 mt-10 text-2xl text-white font-bold mt-1">* Creating an Array </h1>
                            <div class="md:ml-10 flex flex-col md:space-y-2 mobile:space-y-1 md:w-8/12 mobile:w-11/12">
                              
                              <div>
                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">The array shown above could be declared as follows:</p>
                              <p class="bg-dark bg-opacity-80 text-pink-500 font-MetropolisSemiBold text-lg ml-2 mt-1">int[] scores = new int[8];</p>
                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">The type of the variable scores is int[] (an array of integers)</p>
                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">Note that the type of the array does not specify its size, but each object of that type has a specific size</p>
                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">The reference variable scores is set to a new array object that can hold 8 integers</p>
                              </div>

                                <div class="">
                                <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">Some examples of array declarations:</p>
                                <p class="bg-dark w-8/12 bg-opacity-80 text-pink-500 font-MetropolisSemiBold text-lg ml-2 mt-1">float[] prices = new float[500];</p>
                                <p class="bg-dark w-8/12 bg-opacity-80 text-pink-500 font-MetropolisSemiBold text-lg ml-2 mt-1">boolean[] flags;</p>
                                <p class="bg-dark w-8/12 bg-opacity-80 text-pink-500 font-MetropolisSemiBold text-lg ml-2 mt-1">flags = new boolean[20];</p>
                                <p class="bg-dark w-8/12 bg-opacity-80 text-pink-500 font-MetropolisSemiBold text-lg ml-2 mt-1">char[] codes = new char[1750];</p>

                                </div>

                                <div class="mt-10">
                                    <p class="mt-10 text-white font-bold text-2xl">Bounds Checking</p>
                                    <div class="">
                                      <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">Once an array is created, it has a fixed size</p>
                                      <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">An index used in an array reference must specify a valid element</p>
                                      <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">That is, the index value must be in bounds (0 to N-1)</p>
                                      <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">The Java interpreter throws an ArrayIndexOutOfBoundsException if an array index is out of bounds</p>
                                      <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">This is called automatic bounds checking</p>
                                      </div>
                                    <div class="mt-10">
                                        <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">For example, if the array codes can hold 100 values, it can be indexed using only the numbers 0 to 99</p>
                                        <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">If count has the value 100, then the following reference will cause an exception to be thrown:</p>
                                        <p class="bg-dark bg-opacity-80 md:ml-4 text-pink-500 font-MetropolisSemiBold text-lg ml-2 mt-1">System.out.println (codes[count]);</p>

                                        <p class="bg-dark bg-opacity-80 md:ml-4 text-pink-500 font-MetropolisSemiBold text-lg mt-1">for(int i = 0; i < 100; i++) // WILL THROW ERROR, BOUNDS ARE 0-99!</p>
                                        <p class="bg-dark bg-opacity-80 md:ml-5 text-pink-500 font-MetropolisSemiBold text-lg mt-1">codes[index] = i * 50;</p>

                                      </div>

                                      <p class="mt-10 text-white font-bold text-2xl">Alternate Array Syntax</p>
                                      <div class="">
                                        <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">The brackets of the array type can be associated with the element type or with the name of the array</p>
                                        <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">Therefore the following declarations are equivalent:</p>
                                        <p class="bg-dark bg-opacity-80 md:ml-4 text-pink-500 font-MetropolisSemiBold text-lg ml-2 mt-1">float[] prices;</p>
                                        <p class="bg-dark bg-opacity-80 md:ml-4 text-pink-500 font-MetropolisSemiBold text-lg ml-2 mt-1">float prices[];</p>
                                        <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">The first format generally is more readable</p>
                                        </div>
                                      
                                        <p class="mt-10 text-white font-bold text-2xl">Initializer Lists</p>

                                          
                                          <div class="">
                                            <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">An initializer list can be used to instantiate and initialize an array in one step</p>
                                            <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">The values are delimited by braces and separated by commas</p>
                                            <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">Examples:</p>
                                            <p class="bg-dark bg-opacity-80 md:ml-4 text-pink-500 font-MetropolisSemiBold text-lg ml-2 mt-2">int[] units = {147, 323, 89, 933, 540, 269, 97, 114, 298, 476};</p>
                                            <p class="bg-dark bg-opacity-80 md:ml-4 text-pink-500 font-MetropolisSemiBold text-lg ml-2 mt-2">char[] letterGrades = {'A', 'B', 'C', 'D', ’F'};</p>

                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1"> Note that when an initializer list is used:</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ The new operator is not used</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ No size value is specified</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ The size of the array is determined by the number of items in the initializer list</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ An initializer list can only be used only in the array declaration</p>
                                            </div>

                                          <p class="mt-10 text-white font-bold text-2xl">Sorting</p>
                                          <div class="">
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">Sorting is the process of arranging a list of items in a particular order</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">The sorting process is based on specific value(s)</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">sorting a list of test scores in ascending numeric order</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">sorting a list of people alphabetically by last name</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">There are many algorithms for sorting a list of items</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">These algorithms vary in efficiency</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">We will examine two specific algorithms: </p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">Selection Sort</p>
                                              <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">Insertion Sort</p>
                                            </div>

                                            <p class="mt-10 text-white font-bold text-2xl">Selection Sort</p>
                                            <div class="">

                                                <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">The approach of Selection Sort:</p>
                                                <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">select a value and put it in its final place into the list</p>
                                                <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">repeat for all other values</p>
                                                <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">In more detail:</p>
                                                <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ find the smallest value in the list</p>
                                                <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ switch it with the value in the first position</p>
                                                <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ find the next smallest value in the list</p>
                                                <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ switch it with the value in the second position</p>
                                                <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ repeat until all values are in their proper places</p>

                                                <p class="text-white font-MetropolisSemiBold text-xl ml-2 mt-1">Example</p>
                                                <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">original:         3   9   6   1   2</p>
                                                <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">smallest is 1:    1   9   6   3   2</p>
                                                <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">smallest is 2:    1   2   6   3   9</p>
                                                <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">smallest is 3:    1   2   3   6   9</p>
                                                <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">smallest is 6:    1   2   3   6   9</p>

                                                  <p class="text-white font-MetropolisSemiBold text-xl ml-2 mt-1">Swapping</p>
                                                  <p class="text-white font-MetropolisSemiBold text-lg ml-2 ">Swapping is the process of exchanging two values</p>
                                                  <p class="text-white font-MetropolisSemiBold text-lg ml-2">Swapping requires three assignment statements</p>
                                                  <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">temp = first;</p>
                                                  <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2">first = second;</p>
                                                  <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2">second = temp;</p>
                                              </div>
                                              
                                              <p class="mt-10 text-white font-bold text-2xl">Insertion Sort</p>
                                              <div class="">
                                                  <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">The approach of Insertion Sort:</p>
                                                  <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">pick any item and insert it into its proper place in a sorted sublist</p>
                                                  <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">repeat until all items have been inserted</p>
                                                  <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">In more detail:</p>
                                                  <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ consider the first item to be a sorted sublist (of one item)</p>
                                                  <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ insert the second item into the sorted sublist, shifting the first item as needed to make room to insert the new addition</p>
                                                  <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ insert the third item into the sorted sublist (of two items), shifting items as necessary</p>
                                                  <p class="text-white font-MetropolisSemiBold text-lg ml-2 mt-1">+ repeat until all values are inserted into their proper positions</p>
                                                  <p class="text-white font-MetropolisSemiBold text-xl ml-2 mt-1">Example</p>
                                                    <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">original:     3   9   6   1   2</p>
                                                    <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">insert 9:     3   9   6   1   2</p>
                                                    <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">insert 6:     3   6   9   1   2</p>
                                                    <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">insert 1:     1   3   6   9   2</p>
                                                    <p class="text-white font-MetropolisSemiBold bg-dark bg-opacity-80 text-lg ml-2 mt-1">insert 2:     1   2   3   6   9</p>
                                                </div>
                                  </div>



                              </div>
                            </section>
                          </div>



                        `;
                    }
                    //DsaPrepSpring2023();

                    function archivedSpring2022(){
                        // content div
                        document.getElementById('content').innerHTML = ``;
                        var content = document.getElementById('content');

                        document.getElementById("sectionB").className = "md:h-screen mobile:h-auto bg-gradient-to-r from-green-400 to-blue-500";


                        {
                            content.innerHTML = `

                                <div class="flex flex-col">
                                <h1 class="text-4xl text-white font-bold mt-10 ml-10">Spring 2022 &amp; Earlier</h1>

                                <h1 class="mt-10 md:ml-10 mobile:ml-3 text-2xl text-white font-bold">DSA Prep</h1>

                                <!-- Section 1: DSA Review - Trees -->
                                <!-- Description: Video recording from DSA (Data Structures & Algorithms) Review: Trees. -->
                                <!-- Video Link: https://youtu.be/ajF-bPMtuD4 -->

                                <!-- For each section, you will need to create a div with the class "flex flex-col md:flex-row justify-between items-center" -->
                                <!-- Inside this div, you will need an h1 with the title of the section, and a p with the description of the section, and a button for the video link -->

                                <!-- create a rounded div with opacity 50% -->
                                <div class="md:ml-10 mobile:ml-3 rounded-3xl bg-dark bg-opacity-50 p-10 mt-1">
                                    <h1 class="text-2xl text-white font-bold">Section 1: DSA Review - Trees</h1>
                                    <p class="text-white text-xl font-MetropolisSemiBold">Video recording from DSA (Data Structures & Algorithms) Review: Trees.</p>
                                    <a href="https://youtu.be/ajF-bPMtuD4" target="_blank">
                                        <button class="bg-primary text-white font-bold py-2 px-4 rounded-md mt-4 md:mt-0">Video Link</button>
                                    </a>
                                </div>
                              </div>
                            `;
                        }
                    }

                    function dropDownArchived() {
                      document.querySelector('#submenu').classList.toggle('hidden')
                      document.querySelector('#arrow').classList.toggle('rotate-180')
                    }

                    function dropDownSpring2023(){
                        document.querySelector('#submenuSpring2023').classList.toggle('hidden')
                      document.querySelector('#arrowSpring2023').classList.toggle('rotate-180')
                    }
                
                    function Openbar() {
                      document.querySelector('.sidebar').classList.toggle('left-[-300px]')
                    }
                  </script>

              </section>


              <footer class=" p-4 bg-white sm:p-6 dark:bg-gray-900 md:w-10/12 md:ml-[300px]">
                <div class="md:flex md:justify-between">
                    <div class="mb-6 md:mb-0">
                        <a href="https://programmingclub-gsu.com" class="flex items-center">
                            <img src="../images/gsu_logo.png" class="h-8 mr-3" alt="FlowBite Logo" />
                            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">ProgClubGSU</span>
                        </a>
                    </div>
                    <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                        <div>
                            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                            <ul class="text-gray-600 dark:text-gray-400">
                                <li class="mb-4">
                                    <a href="https://www.youtube.com/@programmingclub6693/featured" class="hover:underline">YouTube</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                            <ul class="text-gray-600 dark:text-gray-400">
                                <li class="mb-4">
                                    <a href="https://github.com/ProgClubGSU" class="hover:underline ">GitHub</a>
                                </li>
                                <li>
                                    <a href="https://discord.gg/pxJAqXX" class="hover:underline">Discord</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                            <ul class="text-gray-600 dark:text-gray-400">
                                <li class="mb-4">
                                    <a href="#" class="hover:underline">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
                <div class="sm:flex sm:items-center sm:justify-between">
                    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://programmingclub-gsu.com" class="hover:underline">ProgClubGSU</a>. All Rights Reserved.
                    </span>
                    <!-- <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" /></svg>
                            <span class="sr-only">Facebook page</span>
                        </a>
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" /></svg>
                            <span class="sr-only">Instagram page</span>
                        </a>
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" /></svg>
                            <span class="sr-only">Twitter page</span>
                        </a>
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" /></svg>
                            <span class="sr-only">GitHub account</span>
                        </a>
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10c5.51 0 10-4.48 10-10S17.51 2 12 2zm6.605 4.61a8.502 8.502 0 011.93 5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416 25.416 0 00-.564-1.236c3.145-1.28 4.577-3.124 4.761-3.362zM12 3.475c2.17 0 4.154.813 5.662 2.148-.152.216-1.443 1.941-4.48 3.08-1.399-2.57-2.95-4.675-3.189-5A8.687 8.687 0 0112 3.475zm-3.633.803a53.896 53.896 0 013.167 4.935c-3.992 1.063-7.517 1.04-7.896 1.04a8.581 8.581 0 014.729-5.975zM3.453 12.01v-.26c.37.01 4.512.065 8.775-1.215.25.477.477.965.694 1.453-.109.033-.228.065-.336.098-4.404 1.42-6.747 5.303-6.942 5.629a8.522 8.522 0 01-2.19-5.705zM12 20.547a8.482 8.482 0 01-5.239-1.8c.152-.315 1.888-3.656 6.703-5.337.022-.01.033-.01.054-.022a35.318 35.318 0 011.823 6.475 8.4 8.4 0 01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084 2.679-.423 5.022.271 5.314.369a8.468 8.468 0 01-3.655 5.715z" clip-rule="evenodd" /></svg>
                            <span class="sr-only">Dribbbel account</span>
                        </a>
                    </div> -->
                </div>
              </footer>
        </body>
</html>
