<docytype html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Resources | ProgClubGSU</title>
            <link rel="stylesheet" href="../../../css/styles.css">
            <script src="https://cdn.tailwindcss.com"></script>
            <!-- <script src="./tailwind3.js"></script> -->
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap"
              rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
            <link rel="icon" type="image/x-icon" href="../../../images/gsu_logo.ico" />
        </head>
        <body>
           <nav class="bg-dark border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
            <div class="container flex flex-wrap items-center justify-between ">
            <a href="https://programmingclub-gsu.com" class="flex items-center">
                <img src="../images/gsu_logo.png" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo" />
                <span class="text-xl font-semibold whitespace-nowrap dark:text-white">ProgClubGSU</span>
            </a>
            <div class="flex md:order-2">
              <a href="https://discord.com/invite/pxJAqXX"><button type="button" class="text-white bg-primary hover:bg-primary focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-primary dark:hover:text-primary dark:hover:bg-white dark:focus:ring-blue-800" href="https://discord.com/invite/pxJAqXX">Join Us</button></a>
              <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
              </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
              <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-9 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-dark dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                  <a href="/home" class="block py-2 pl-3 pr-4 text-primary rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-white md:p-0 md:dark:hover:text-primary dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-primary md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Home</a>
                </li>
                <li>
                  <a href="/ourteam" class="block py-2 pl-3 pr-4 text-primary rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-white md:p-0 md:dark:hover:text-primary dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-primary md:dark:hover:bg-transparent dark:border-gray-700">Our Team</a>
                </li>
                <li>
                  <a href="/resources" class="block py-2 pl-3 pr-4 text-primary rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-white md:p-0 md:dark:hover:text-primary dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-primary md:dark:hover:bg-transparent dark:border-gray-700">Resources</a>
                </li>
                 <li>
                  <!-- <a href="./events" class="block py-2 pl-3 pr-4 text-primary rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-primary dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-primary md:dark:hover:bg-transparent dark:border-gray-700">Events</a> -->
                </li> 
              </ul>
            </div>
            </div>
            <script>
                const collapse = document.getElementById('navbar-cta');
                const toggle = document.querySelector('[data-collapse-toggle]');
                toggle.addEventListener('click', () => {
                    collapse.classList.toggle('hidden');
                });
            </script>
          </nav> 



              <!--  -->
              <section id="sectionB" class="md:h-auto mobile:h-auto bg-gradient-to-r from-green-400 to-gray-600 ">
                <div id="content" class="flex-none relative xl:ml-[300px] w-auto md:h-auto mobile:h-auto">
                    <div class="flex items-center flex-col ">
                        <div class="w-10/12 mt-10 rounded-2xl bg-gray-800 bg-opacity-50 p-3 ease-in duration-700">
                            <div class="flex items-center justify-center">
                              <img src="../../../images/spotify.png" class="justify-center h-32 w-64 mt-5">
                            </div>
                            <h1 class="flex items-center justify-center text-7xl text-white mt-5 font-MetropolisBold">HackJam #1</h1>
                        </div>

                        <div class="flex items-center flex-col mt-5 rounded-2xl bg-gray-800 bg-opacity-50 p-6 w-8/12">
                          <div class=" items-center">
                              <h1 class="text-white text-center font-MetropolisSemiBold text-md">
                                Spotify is a music streaming service that gives you access to millions of songs.
                                If you did not attend the HackJam on 1/27/2023, this is a guide on how you
                                can connect an application to Spotify's API using Python and Flask! 
                              </h1>
                              <h1 class="mt-10 text-red-400 text-center font-MetropolisExtraBold text-lg">
                                Please note that this page is in compliance with Spotify API's Terms of Service,
                                and that we do not tolerate or condone any illegal use of Spotify's API.
                                This page is for educational purposes only, and is not intended to be used for
                                any other purpose, including but not limited to, commercial use of Spotify, distribution of Spotify's API Secrets, Music, or any other form of distribution,
                                or modification.
                              </h1>
                          </div>
                      </div>

                      <div>
                        <div class="flex items-center justify-center mt-8">
                        <i class="bi bi-arrow-down-circle-fill text-6xl text-white animate-bounce"></i>
                        </div>
                      </div>

                      <div class="flex flex-col items-center mt-5 rounded-3xl bg-gray-800 bg-opacity-50 p-2 w-11/12">

                        <div class="h-auto rounded-2xl bg-green-400 w-full p-8">
                          <div class="flex flex-col">
                            <h1 class="text-gray-800 mt-10 md:text-6xl mobile:text-3xl font-MetropolisExtraBold">Prerequisites</h1>

                            <h1 class="mt-10 text-gray-800 text-2xl font-MetropolisExtraBold">Setup Environment</h1>
                            <div class="flex flex-col mt-1 ml-8">
                              <div class="inline-flex mt-1">
                                <h1 class="text-gray-800 text-xl justify-left font-MetropolisBold">1. Install Python</h1>
                                <a href="https://www.python.org/downloads/" class="ml-5 w-6/12 text-gray-800 text-xl font-MetropolisMedium"><button class="bg-gray-800 text-green-400 md:w-4/12 mobile:w-9/12 rounded-xl p-2 hover:bg-white hover:text-gray-800">Download</button></a>
                              </div>
                              <div class="inline-flex mt-3">
                                <h1 class="text-gray-800 text-xl font-MetropolisBold">2. Install Flask</h1>
                                <p class="bg-gray-800 bg-opacity-80 ml-5 p-1 rounded-md text-green-400 text-xl font-MetropolisMedium">TERMINAL: pip install flask</p>
                              </div>
                            </div>

                            <h1 class="mt-8 text-gray-800 text-2xl font-MetropolisExtraBold">File Structure</h1>
                            <div class="flex flex-col mt-1 ml-8">
                              <div class="inline-flex mt-1">
                                <h1 class="text-gray-800 text-xl justify-left font-MetropolisBold">1. Create a folder called</h1>
                                <p class="bg-gray-800 bg-opacity-80 ml-1 rounded-sm p-1/2 text-green-400 text-xl font-MetropolisMedium">"templates"</p>
                              </div>
                              <h1 class="text-gray-800 text-lg justify-left font-MetropolisBold">-------Inside the "templates" folder, create a file called <span class="rounded-sm text-green-400 bg-gray-800 bg-opacity-80 p-1">index.html</span></h1>

                              <div class="inline-flex mt-3">
                                <h1 class="text-gray-800 text-xl justify-left font-MetropolisBold">2. Create a folder called</h1>
                                <p class="bg-gray-800 bg-opacity-80 ml-1 rounded-sm p-1/2 text-green-400 text-xl font-MetropolisMedium">"static"</p>
                              </div>
                              <h1 class="text-gray-800 text-lg justify-left font-MetropolisBold">-------Inside the "static" folder, create a file called <span class="rounded-sm text-green-400 bg-gray-800 bg-opacity-80 p-1">main.css</span></h1>


                              <div class="inline-flex mt-3">
                                <h1 class="text-gray-800 text-xl justify-left font-MetropolisBold">3. Create a file called</h1>
                                <p class="bg-gray-800 bg-opacity-80 ml-1 rounded-sm p-1/2 text-green-400 text-xl font-MetropolisMedium">"main.py"</p>
                              </div>
                          </div>

                          <h1 class="text-gray-800 text-lg justify-left font-MetropolisBold mt-6">Your file structure should look like this:</h1>

                          <div class="flex flex-col w-full mt-3 bg-gray-800 bg-opacity-80 rounded-3xl p-3">
                            <h1 class="text-green-400 text-lg justify-left font-MetropolisBold">------------</h1>
                            <h1 class="text-green-400 text-lg justify-left font-MetropolisBold">|-</h1>
                            <h1 class="text-green-400 text-lg justify-left font-MetropolisBold">|-templates</h1>
                            <h1 class="text-green-400 text-lg justify-left font-MetropolisBold">|----index.html</h1>
                            <h1 class="text-green-400 text-lg justify-left font-MetropolisBold">|-</h1>
                            <h1 class="text-green-400 text-lg justify-left font-MetropolisBold">|-static</h1>
                            <h1 class="text-green-400 text-lg justify-left font-MetropolisBold">|----main.css</h1>
                            <h1 class="text-green-400 text-lg justify-left font-MetropolisBold">|-</h1>
                            <h1 class="text-green-400 text-lg justify-left font-MetropolisBold">|-main.py</h1>
                            <h1 class="text-green-400 text-lg justify-left font-MetropolisBold">------------</h1>

                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="flex flex-col items-center mt-5 rounded-3xl bg-gray-800 bg-opacity-50 p-2 w-11/12">
                      

                      <div class="h-auto rounded-2xl bg-green-400 w-full p-8">

                        <h1 class="text-gray-800 mt-10 text-6xl font-MetropolisExtraBold">Setup</h1>

                        <h1 class="mt-10 text-gray-800 text-2xl font-MetropolisExtraBold">Basic HTML "/templates/index.html"</h1>
                        <div class="flex flex-col w-full mt-3 text-green-400 text-lg font-MetropolisBold bg-gray-800 bg-opacity-80 rounded-3xl p-3">
                          <!-- < = &lt; -->
                          <!-- > = &gt; -->
                          <h1>&lt;html&gt;</h1>
                          <h1>&lt;head&gt; &lt;link rel="stylesheet" href="static/main.css"&lt;/head&gt;</h1>
                          <h1 class="ml-5">&lt;body&gt;</h1>
                          <h1 class="ml-10">&lt;h1&gt;My First Heading&lt;/h1&gt;</h1>
                          <h1 class="ml-10">&lt;p&gt;My First Paragraph&lt;/p&gt;</h1>
                          <h1 class="ml-5">&lt;/body&gt;</h1>
                          <h1>&lt;/html&gt;</h1>
                        </div>
                      </div>

                      <div class="h-auto mt-5 rounded-2xl bg-green-400 w-full p-8">

                        <h1 class="text-gray-800 mt-10 text-6xl font-MetropolisExtraBold">Spotify API Docs</h1>

                        <h1 class="mt-10 text-gray-800 text-2xl font-MetropolisExtraBold">Head over to <span class="bg-gray-800 bg-opacity-40 font-MetropolisBold rounded-lg">developer.spotify.com</span></h1>
                        <h2 class="mt-1 ml-3 text-gray-800 text-lg font-MetropolisExtraBold">Sign in to your account, agree to the Terms, then create a new app called HackJam, or whatever you want to call it.</h2>
                        <h2 class="mt-1 ml-3 text-gray-800 text-lg font-MetropolisExtraBold">Copy your Client ID, and Secret ID. <span class="text-red-400">DO NOT GIVE THESE TO ANYONE. Spotify will never ask you for this info!</span></h2>


                        <h1 class="mt-10 text-gray-800 text-2xl font-MetropolisExtraBold">After, go to <a href="https://developer.spotify.com/documentation/general/guides/authorization/code-flow/"><span class="bg-gray-800 bg-opacity-40 font-MetropolisBold rounded-lg">Workflow (Click Me)</span></a></h1>
                        <h2 class="mt-1 ml-3 text-gray-800 text-lg font-MetropolisExtraBold">Take a look at how the API works.</h2>

                        <h1 class="mt-10 text-gray-800 text-2xl font-MetropolisExtraBold">Next, create a basic Flask app and implement the API documentation "/main.py"</h1>
                        <div class="flex flex-col w-full mt-3 text-green-400 text-lg font-MetropolisBold bg-gray-800 bg-opacity-80 rounded-3xl p-3">
                          <h1 class="ml-3">import flask</h1>
                          <br>
                          <h1 class="ml-3">#our client id</h1>
                          <h1 class="ml-3">Client_ID = 'your client id'</h1>
                          <h1 class="ml-3">Secret_ID = 'your secret id'</h1>
                          <br>
                          <h1 class="ml-3">#api link</h1>
                          <h1 class="tablet:hidden ml-3">APItok_Url = </h1>
                          <h1 class="tablet:hidden ml-3">'https://accounts.spotify.com/</h1>
                          <h1 class="tablet:hidden ml-3">api/token'</h1>
                          <h1 class="mobile:invisible tablet:visible ml-3">APItok_Url = 'https://accounts.spotify.com/api/token'</h1>
                          <br>
                          <h1 class="ml-3">#post sets up the qualifications for our api calls</h1>
                          <h1 class="ml-3">auth_response = requests.post(APItok_Url, {</h1>
                          <h1 class="ml-5">'grant_type': 'client_credentials',</h1>
                          <h1 class="ml-5">'client_id': Client_ID,</h1>
                          <h1 class="ml-5">'client_secret': Secret_ID,</h1>
                          <h1 class="ml-3">})</h1>
                          <br>
                          <h1 class="ml-3">#part 2 code goes here</h1>
                          <br>
                          <h1 class="ml-3">@app.route('/')</h1>
                          <h1 class="ml-3">def index():</h1>
                          <h1 class="md:hidden ml-5">return flask.render_template(</h1>
                          <h1 class="md:hidden ml-5">"index.html", data=data)</h1>
                          <h1 class="mobile:invisible tablet:visible ml-5">return flask.render_template("index.html", data = data)</h1>
                          <br>
                          <h1 class="ml-3">app.run(use_reloader = True, debug = True)</h1>
                        </div>
                        <h1 class="ml-3 mt-2 text-gray-800 text-lg font-MetropolisSemiBold">Basically, in the code snippet above,
                          we are initializing our client id and secret id, and then using the requests library to post our client id and secret id to the APItok_Url, which is the link to the Spotify API. This will return a JSON object with our access token, which we will use to make our API calls.</h1>
                        </h1>
                      </div>




                      <div class="h-auto mt-5 rounded-2xl bg-green-400 w-full p-8">

                        <h1 class="text-gray-800 mt-10 text-6xl font-MetropolisExtraBold">Spotify API Docs Pt. 2</h1>

                        <div class="flex flex-col w-full mt-10 text-green-400 text-lg font-MetropolisBold bg-gray-800 bg-opacity-80 rounded-3xl p-3">
                          <h1 class="ml-3">#puts data into a json file to find token</h1>
                          <h1 class="ml-3">auth_data = auth_response.json()</h1>
                          <br>
                          <h1 class="ml-3">#accesses specific token</h1>
                          <h1 class="ml-3">Key = auth_data['access_token']</h1>
                          <br>
                          <h1 class="ml-3">#creating authorization for specific token in Spotify format</h1>
                          <h1 class="ml-3">headers = {</h1>
                          <h1 class="ml-3">'Authorization': 'Bearer {token}'.format(token='your token')</h1>
                          <h1 class="ml-3">}</h1>
                          <br>
                          <h1 class="ml-3">#part 3 goes here</h1>
                        </div>
                        <h1 class="ml-3 mt-2 text-gray-800 text-lg font-MetropolisSemiBold">
                          In this code segment, we are taking the JSON object that we got from the API, and putting it into a JSON file. We then access the access token from the JSON file, and create a header for our API calls. We will use this header in our API calls to Spotify.
                          Note that whenever using an API like Spotify's, we can also read the response code from the server, and format a nice error message if the response code is not 200.
                          The generic response codes are as follows:
                        </h1>
                        <div class="bg-gray-800 bg-opacity-30 rounded-2xl">
                          <h1 class="ml-3 mt-2 text-gray-800 text-lg font-MetropolisSemiBold">
                            200: OK ||
                            201: Created ||
                            204: No Content ||
                            400: Bad Request ||
                            401: Unauthorized ||
                            403: Forbidden ||
                            404: Not Found ||
                            405: Method Not Allowed ||
                            409: Conflict ||
                            429: Too Many Requests ||
                            500: Internal Server Error ||
                            502: Bad Gateway ||
                            503: Service Unavailable ||
                            504: Gateway Timeout ||
                          </h1>
                        </div>

                      </div>





                      <div class="h-auto mt-5 rounded-2xl bg-green-400 w-full p-8">

                        <h1 class="text-gray-800 mt-10 text-6xl font-MetropolisExtraBold">Spotify API Docs Pt. 3</h1>

                        <div class="flex flex-col w-full mt-10 text-green-400 text-lg font-MetropolisBold bg-gray-800 bg-opacity-80 rounded-3xl p-3">
                          <h1 class="ml-3">#starter for API endpoints</h1>
                          <h1 class="ml-3">API_Url = 'https://api.spotify.com/v1'</h1>
                          <br>
                          <h1 class="ml-3">artist_id = 'yourID'</h1>
                          <br>
                          <h1 class="ml-3">#now we can get the data that we need</h1>
                          <h1 class="ml-3">#lets take a look at an artists album</h1>
                          <h1 class="ml-3">mainLink = requests.get(API_Url + 'artists/' + artist_id + '/albums',</h1>
                          <h1 class="ml-4">headers=headers,</h1>
                          <h1 class="ml-4">params={'market':'ES', 'limit':10, 'offset':5})</h1>
                          <br>
                          <br>
                          <h1 class="ml-3">data = mainLink.json()</h1>
                        </div>
                        <h1 class="ml-3 mt-2 text-gray-800 text-lg font-MetropolisSemiBold">
                          In this code segment, we are creating a variable for the API endpoint, and then using the requests library to get the data from the API endpoint. We are also using the header that we created in the previous code segment, and we are also using parameters to specify what data we want from the API endpoint.
                          In this case, we are getting the albums of a specific artist, and we are specifying that we want the albums from the Spanish market, and we want 10 albums, starting from the 5th album.
                          You may be wondering, why is there a '/v1' after the API endpoint? This is because Spotify has multiple versions of their API, and we are using the most recent version, which is v1.
                          This term is commonly referred to as "testflight" in the software development world, and it is a way for companies to test out new features before they are released to the public.
                        </h1>

                      </div>



                      <div class="h-auto mt-5 rounded-2xl bg-green-400 w-full p-8">

                        <h1 class="text-gray-800 mt-10 text-6xl font-MetropolisExtraBold">Final Code</h1>
                        <h2 class="mt-1 ml-3 text-gray-800 text-lg font-MetropolisExtraBold">Your final code should appear like the following:</h2>
                        <div class="flex flex-col w-full mt-10 text-green-400 text-lg font-MetropolisBold bg-gray-800 bg-opacity-80 rounded-3xl p-3">
                          <h1 class="ml-3">import flask</h1>
                          <br>
                          <h1 class="ml-3">#our client id</h1>
                          <h1 class="ml-3">Client_ID = 'your client id'</h1>
                          <h1 class="ml-3">Secret_ID = 'your secret id'</h1>
                          <br>
                          <h1 class="ml-3">#api link</h1>
                          <h1 class="tablet:hidden ml-3">APItok_Url = </h1>
                          <h1 class="tablet:hidden ml-3">'https://accounts.spotify.com/</h1>
                          <h1 class="tablet:hidden ml-3">api/token'</h1>
                          <h1 class="mobile:invisible tablet:visible ml-3">APItok_Url = 'https://accounts.spotify.com/api/token'</h1>
                          <br>
                          <h1 class="ml-3">#post sets up the qualifications for our api calls</h1>
                          <h1 class="ml-3">auth_response = requests.post(APItok_Url, {</h1>
                          <h1 class="ml-5">'grant_type': 'client_credentials',</h1>
                          <h1 class="ml-5">'client_id': Client_ID,</h1>
                          <h1 class="ml-5">'client_secret': Secret_ID,</h1>
                          <h1 class="ml-3">})</h1>
                          <br>
                          <h1 class="ml-3">#puts data into a json file to find token</h1>
                          <h1 class="ml-3">auth_data = auth_response.json()</h1>
                          <br>
                          <h1 class="ml-3">#accesses specific token</h1>
                          <h1 class="ml-3">Key = auth_data['access_token']</h1>
                          <br>
                          <h1 class="ml-3">#creating authorization for specific token in Spotify format</h1>
                          <h1 class="ml-3">headers = {</h1>
                          <h1 class="ml-3">'Authorization': 'Bearer {token}'.format(token='your token')</h1>
                          <h1 class="ml-3">}</h1>
                          <br>
                          <h1 class="ml-3">#starter for API endpoints</h1>
                          <h1 class="ml-3">API_Url = 'https://api.spotify.com/v1'</h1>
                          <br>
                          <h1 class="ml-3">artist_id = 'yourID'</h1>
                          <br>
                          <h1 class="ml-3">#now we can get the data that we need</h1>
                          <h1 class="ml-3">#lets take a look at an artists album</h1>
                          <h1 class="ml-3">mainLink = requests.get(API_Url + 'artists/' + artist_id + '/albums',</h1>
                          <h1 class="ml-4">headers=headers,</h1>
                          <h1 class="ml-4">params={'market':'ES', 'limit':10, 'offset':5})</h1>
                          <br>
                          <br>
                          <h1 class="ml-3">data = mainLink.json()</h1>
                          <br>
                          <h1 class="ml-3">@app.route('/')</h1>
                          <h1 class="ml-3">def index():</h1>
                          <h1 class="md:hidden ml-5">return flask.render_template(</h1>
                          <h1 class="md:hidden ml-5">"index.html", data=data)</h1>
                          <h1 class="mobile:invisible tablet:visible ml-5">return flask.render_template("index.html", data = data)</h1>
                          <br>
                          <h1 class="ml-3">app.run(use_reloader = True, debug = True)</h1>
                        </div>
                        <h1 class="ml-3 mt-2 text-gray-800 text-lg font-MetropolisSemiBold">
                          In this code segment, we are creating a variable for the API endpoint, and then using the requests library to get the data from the API endpoint. We are also using the header that we created in the previous code segment, and we are also using parameters to specify what data we want from the API endpoint.
                          In this case, we are getting the albums of a specific artist, and we are specifying that we want the albums from the Spanish market, and we want 10 albums, starting from the 5th album.
                          You may be wondering, why is there a '/v1' after the API endpoint? This is because Spotify has multiple versions of their API, and we are using the most recent version, which is v1.
                          This term is commonly referred to as "testflight" in the software development world, and it is a way for companies to test out new features before they are released to the public.
                        </h1>

                      </div>

                    </div>

                    <div class="flex flex-col items-center mt-5 rounded-3xl bg-gray-800 bg-opacity-50 p-2 w-11/12">
                      

                      <div class="h-auto rounded-2xl bg-green-400 w-full p-8">

                        <h1 class="text-gray-800 mt-10 text-6xl font-MetropolisExtraBold">Questions</h1>

                      </div>
                      <div class="h-auto mt-5 rounded-2xl bg-green-400 w-full p-8">

                        <h1 class="text-gray-800 mt-10 text-3xl font-MetropolisExtraBold">Question 1</h1>

                        <h2 class="mt-1 ml-3 text-gray-800 text-lg font-MetropolisExtraBold">How do I find the artist, category, albums, or even playlists?</h2>
                        <h2 class="mt-1 ml-1 text-gray-800 text-lg font-MetropolisExtraBold">1. Go to the console tab of your Spotify Developer Account</h2>
                        <h2 class="mt-1 ml-1 text-gray-800 text-lg font-MetropolisExtraBold">2. Choose what category you are going for</h2>
                        <h2 class="mt-1 ml-1 text-gray-800 text-lg font-MetropolisExtraBold">3. Get artist ID from regular web app, by searching the artist, album, or playlist to enter in code</h2>
                        <h2 class="mt-1 ml-1 text-gray-800 text-lg font-MetropolisExtraBold">4. get token to use in auth_data[]</h2>
                      </div>

                      <div class="h-auto mt-5 rounded-2xl bg-green-400 w-full p-8">

                        <h1 class="text-gray-800 mt-10 text-3xl font-MetropolisExtraBold">Question 2</h1>

                        <h2 class="mt-1 ml-3 text-gray-800 text-lg font-MetropolisExtraBold">How do I get the data I need?</h2>
                        <h2 class="mt-1 ml-1 text-gray-800 text-lg font-MetropolisExtraBold">When you get your new token you can click the "try it" button to see your data table.</h2>
                      </div>
                    </div>



                    <div class="flex flex-col items-center mt-5 rounded-3xl bg-gray-800 bg-opacity-50 p-2 w-11/12">
                      

                      <div class="h-auto rounded-2xl bg-green-400 w-full p-8">

                        <h1 class="text-gray-800 mt-10 text-6xl font-MetropolisExtraBold">Back to HTML</h1>

                        <h1 class="mt-10 text-gray-800 mt-10 text-lg font-MetropolisExtraBold">You can access the data in your HTML by the following:</h1>

                        <div class="flex flex-col w-full mt-10 text-green-400 text-lg font-MetropolisBold bg-gray-800 bg-opacity-80 rounded-3xl p-3">
                          <h1 class="ml-3">&lt;ul&gt;&lt;li&gt;</h1>
                          <h1 class="ml-3">&lt;img src="{{data['items'][1]['images'][1]['url']}}" alt="Album Cover" width="640" height="640&gt;</h1>
                          <h1 class="ml-3">&lt;/ul&gt;&lt;/li&gt;</h1>
                        </div>
                        </div>
                      </div>

                      <div class="flex flex-col items-center mb-24 mt-5 rounded-3xl bg-gray-800 bg-opacity-50 p-2 w-11/12">
                        

                        <div class="h-auto rounded-2xl bg-green-400 w-full p-8">
                              <h1 class="text-gray-800 mt-10 text-6xl font-MetropolisExtraBold">Final Notes</h1>
                              <h1 class="mt-10 text-gray-800 mt-10 text-lg font-MetropolisExtraBold">
                                If you've read this far, you've done a great job! You've learned how to use the Spotify API, and you've learned how to use the data you get from the API in your HTML.
                                Working with APIs is a great way to learn how to work with data, and really teach you the fundamentals of web development.
                                If you have any questions, feel free to reach out to any Executive Committee member on our Discord.
                              </h1>
                          </div>
                          </div>
                    </div>


                </div>


                <span class="md:hidden absolute text-white text-2xl top-16 left-4 cursor-pointer" onclick="Openbar()">
                    <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
                  </span>
                  <div class="sidebar fixed top-0 bottom-0 lg:left-0 left-[-300px] duration-1000
                    p-2 w-[300px] overflow-y-auto text-center bg-gray-900 shadow h-screen">
                    <div class="text-gray-100 text-xl">
                      <div class="p-2.5 mt-1 flex items-center rounded-md ">
                        <i class=" px-2 py-1 bg-blue-600 rounded-md"><img src="../images/gsu_logo.png" class="h-8 w-8"></i>
                        <h1 class="text-[15px]  ml-3 text-xl text-gray-200 font-bold">Resources</h1>
                        <i class="bi bi-x ml-20 cursor-pointer lg:hidden" onclick="Openbar()"></i>
                      </div>
                      <hr class="my-2 text-gray-600">
                
                      <div>
                        <div class="p-2.5 mt-3 flex items-center rounded-md 
                        px-4 duration-300 cursor-pointer  bg-gray-700">
                          <i class="bi bi-search text-sm"></i>
                          <input class="text-[15px] ml-4 w-full bg-transparent focus:outline-none" placeholder="Search" />
                        </div>
                
                        <a href="/resources">
                          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-primary" href="/resources">
                            <i class="bi bi-house-door-fill"></i>
                            <span class="text-[15px] mt-1 font-MetropolisSemiBold ml-4 text-gray-200">Home</span>
                          </div>
                          <hr class="my-4 text-gray-600">
                        </a>


                        <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-primary">
                            <i class="bi bi-chat-left-text-fill"></i>
                            <div class="flex justify-between w-full items-center" onclick="dropDownSpring2023()">
                              <span class="text-[15px] font-MetropolisSemiBold ml-4 text-gray-200">Spring 2023</span>
                              <span class="text-sm rotate-0" id="arrowSpring2023">
                                <i class="bi bi-chevron-down"></i>
                              </span>
                            </div>
                          </div>
                          <div class=" leading-7 font-MetropolisSemiBold text-left text-sm font-thin mt-2 w-4/5 mx-auto hidden" id="submenuSpring2023">
                            <a href="/resources/hackjam-one"><div>
                              <h1 class="cursor-pointer p-2 bg-gray-700 rounded-md mt-1">HackJam 1: 1/27</h1>
                          </div>
                          </a>
                          <a href="/resources/dsa-arrays">
                            <div href="/resources/dsa-arrays">
                                <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">DSA: 1/20 - Arrays</h1>
                            </div>
                            </a>

                            
                          </div>


                        

                
                        <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-primary">
                          <i class="bi bi-chat-left-text-fill"></i>
                          <div class="flex justify-between w-full items-center" onclick="dropDownArchived()">
                            <span class="text-[15px] font-MetropolisSemiBold ml-4 text-gray-200">Archived</span>
                            <span class="text-sm rotate-0" id="arrow">
                              <i class="bi bi-chevron-down"></i>
                            </span>
                          </div>
                        </div>
                        <a href="/resources/archived/spring2022">
                          <div class=" leading-7 font-MetropolisSemiBold text-left text-sm font-thin mt-2 w-4/5 mx-auto hidden" id="submenu">
                            <div onclick="">
                                <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">Spring 2022 &amp; Earlier</h1>
                            </div>
                        </div>
                        </a>
                
                      </div>

                    </div>

                  </div>
                
                  <script>

                    dropDownSpring2023();

                    function dropDownArchived() {
                      document.querySelector('#submenu').classList.toggle('hidden')
                      document.querySelector('#arrow').classList.toggle('rotate-180')
                    }

                    function dropDownSpring2023(){
                        document.querySelector('#submenuSpring2023').classList.toggle('hidden')
                      document.querySelector('#arrowSpring2023').classList.toggle('rotate-180')
                    }
                
                    function Openbar() {
                      document.querySelector('.sidebar').classList.toggle('left-[-300px]')
                    }
                  </script>

              </section>


              <footer class=" p-4 bg-white sm:p-6 dark:bg-gray-900 md:w-10/12 md:ml-[300px]">
                <div class="md:flex md:justify-between">
                    <div class="mb-6 md:mb-0">
                        <a href="https://programmingclub-gsu.com" class="flex items-center">
                            <img src="../images/gsu_logo.png" class="h-8 mr-3" alt="FlowBite Logo" />
                            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">ProgClubGSU</span>
                        </a>
                    </div>
                    <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                        <div>
                            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                            <ul class="text-gray-600 dark:text-gray-400">
                                <li class="mb-4">
                                    <a href="https://www.youtube.com/@programmingclub6693/featured" class="hover:underline">YouTube</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                            <ul class="text-gray-600 dark:text-gray-400">
                                <li class="mb-4">
                                    <a href="https://github.com/ProgClubGSU" class="hover:underline ">GitHub</a>
                                </li>
                                <li>
                                    <a href="https://discord.gg/pxJAqXX" class="hover:underline">Discord</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                            <ul class="text-gray-600 dark:text-gray-400">
                                <li class="mb-4">
                                    <a href="#" class="hover:underline">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
                <div class="sm:flex sm:items-center sm:justify-between">
                    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://programmingclub-gsu.com" class="hover:underline">ProgClubGSU</a>. All Rights Reserved.
                    </span>
                    <!-- <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" /></svg>
                            <span class="sr-only">Facebook page</span>
                        </a>
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" /></svg>
                            <span class="sr-only">Instagram page</span>
                        </a>
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" /></svg>
                            <span class="sr-only">Twitter page</span>
                        </a>
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" /></svg>
                            <span class="sr-only">GitHub account</span>
                        </a>
                        <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10c5.51 0 10-4.48 10-10S17.51 2 12 2zm6.605 4.61a8.502 8.502 0 011.93 5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416 25.416 0 00-.564-1.236c3.145-1.28 4.577-3.124 4.761-3.362zM12 3.475c2.17 0 4.154.813 5.662 2.148-.152.216-1.443 1.941-4.48 3.08-1.399-2.57-2.95-4.675-3.189-5A8.687 8.687 0 0112 3.475zm-3.633.803a53.896 53.896 0 013.167 4.935c-3.992 1.063-7.517 1.04-7.896 1.04a8.581 8.581 0 014.729-5.975zM3.453 12.01v-.26c.37.01 4.512.065 8.775-1.215.25.477.477.965.694 1.453-.109.033-.228.065-.336.098-4.404 1.42-6.747 5.303-6.942 5.629a8.522 8.522 0 01-2.19-5.705zM12 20.547a8.482 8.482 0 01-5.239-1.8c.152-.315 1.888-3.656 6.703-5.337.022-.01.033-.01.054-.022a35.318 35.318 0 011.823 6.475 8.4 8.4 0 01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084 2.679-.423 5.022.271 5.314.369a8.468 8.468 0 01-3.655 5.715z" clip-rule="evenodd" /></svg>
                            <span class="sr-only">Dribbbel account</span>
                        </a>
                    </div> -->
                </div>
              </footer>
        </body>
</html>
